# Required - The ID of your Sanity project
SANITY_STUDIO_PROJECT_ID="3kp5l7l2"
# Required - The dataset of your Sanity project
SANITY_STUDIO_DATASET="production"
# Optional - The URL of your application, for use in Presentation
SANITY_STUDIO_PREVIEW_URL=""
