@import './typography.css';
@import './studio.css';
@import './fonts.css';
@import './products.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


  

.navigation_container {
    position:fixed;
    justify-content: space-between;
    /* border: 1px solid red; */
    z-index: 10;
    padding: 0.5rem 1rem;
    width: 100vw;
}

/* From https://css.glass */
.navigation_container{
background: rgba(255, 255, 255, 0.34);
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.logo_container {
    display: flex;
    /* border: 2px solid black; */
    width: fit-content;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;

}

.navigation {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    /* border: 1px solid blueviolet; */
    height: fit-content;
}

.navigation a {
    color: #000;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: .8rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    padding: 0 1rem;
}

.homePage{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 3px solid red; */
    width: 100vw;
    height: 130vh;
    padding: 0 1rem;

    .header{
    margin-top: 10vh;
    .header-title{
    margin-bottom: 3vh;
    }
    }

    .Maincontent{
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 1fr 1fr; */
        /* border: 3px solid orange; */
        height: 100%;
        margin-top: 1rem;

        /* (logo) | (content) */
        .contentContainer{
            /* border: 2px solid black; */
            justify-content: end;
            height: 100%;

            .logo{
                /* border: 2px solid red; */
                height: fit-content;
                width: fit-content;
                display: flex;
                justify-content: start;
                align-items: end;
                svg{
                    height: 20%;
                    width: auto;
                }
            }

            .contentParent{
                display: flex;
                flex-direction: column;
                /* border: 2px solid red; */
                height: 100%;
                gap: 3rem;
                h3{text-decoration: underline;}
            }
        }

        /* The products */
        /* (subheading) | (products container) */
        .showcaseContainer{
            /* border: 5px solid black; */
            /* display: grid;
            grid-template-columns: 1fr 1fr; */
            justify-content: end;
            width: 100%;
            height: fit-content;

        }
    }


}

.projectSection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150vh;
    padding: 0 1rem;

    .header{
        display: grid;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin: 10rem 0;
        padding: 3rem 0;
        border-bottom: 1px solid black;

        .col-toggle{
            display: flex;
            justify-content: space-between;
            align-items: end;

            .viewbtn{
                border: 1px solid black;
                width: 150px;
                height: fit-content;
                padding: 0.5rem 0rem;
                border-radius: 50px; 
                
                &:hover{
                    background-color: #2B2A2A;
                    color: white;
                }
            }
            
        }


    }

    /* The grid view */
    .container{
        max-width: 100%;
        margin: 0 auto;
        /* border: 2px solid orange; */


        .col{
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
    
    .grid-view{
        display: grid;

        .row-thumbnail{
         height: 100%;
         width: auto;
        }

        .projectDetails{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
        }
    }

    .project-list{
        display: grid;
        grid-auto-flow: row;
        height: 100%;
        gap: 1rem;

        .project{
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            /* border: 2px solid red; */
            height: 20vh;

            .title{
                height: fit-content;
            }

            &:hover{
                /* background-color: red; */
                .preview{
                    display: grid;
                }
                .project-number{
                    display: none;
                }
            }
        }


        .project-number{
            display: block;
        }

        .title{
            display: flex;
            gap: 3rem;
        }


        .preview{
            display: none;
            grid-template-columns: repeat(3, 1fr);
            height: 30vh;
            width: 30vw;
            gap: 5px;
        }

    }
}

/* Desktop */
@media (min-width: 960px) {

    .grid-view{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .header{
        grid-template-columns: 1fr 1fr 1fr;

    }
    .homePage{
        /* border: 1px solid red; */
    
    .Maincontent{
        display: flex;
        flex-direction: column;
    
        .showcaseContainer{
            display: grid;
            grid-template-columns: 1fr 1fr;


            .showcase-grid{
                /* border: 2px solid green; */
                display: flex;
                gap: 1rem;
                height: fit-content;
                .showcase-item{
                    /* border: 3px solid red;  */
                    height: 100%; 
                    width: auto;
                }
                .showcase-image{ 
                    /* border: 3px solid red; */
                    /* display: grid; */
                    height: 100%;
                    width: auto;
                }
        }
        }
    
        .contentContainer{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 3rem;
                align-items: end;

        }
    }
    }
}



/* Ipad */
@media (min-width: 500px) and (max-width: 960px) {

    .header{
        grid-template-columns: 1fr 1fr 1fr;

    }

    .grid-view{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .homePage{
        /* border: 1px solid red; */
    
    .Maincontent{
        display: flex;
        flex-direction: column;
    
        .showcaseContainer{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .showcase-grid{
                /* border: 2px solid green; */
                display: flex;
                gap: 1rem;
                height: fit-content;
                .showcase-item{
                    /* border: 3px solid red;  */
                    height: 100%; 
                    width: auto;
                }
                .showcase-image{ 
                    /* border: 3px solid red; */
                    /* display: grid; */
                    height: 100%;
                    width: auto;
                }
        }
        }
    
        .contentContainer{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 3rem;
                
        }
    }
    }

}

/* Mobile */
@media (max-width: 500px){

    .header{
        grid-auto-flow: row;
        justify-content: center;
        gap: 1rem;
        height: 50vh;
        .col-title{
            --column-width: 6;
        }


    }

    .grid-view{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .homePage{
        /* border: 1px solid green; */
        height: 140vh;
    
    .Maincontent{
        display: flex;
        flex-direction: row;
    
        .showcaseContainer{
            display: flex;
            flex-direction: column;
            justify-content: start;
            /* grid-template-columns: 1fr; */
            height: 100%;
            .subHead{
                /* justify-content: end; */
                h2{
                    padding: .5rem;
                    width: 100%;
                    height: fit-content;
                }
            }

            .showcase-grid{
                /* border: 2px solid green; */
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 1rem;
                height: fit-content;

                .showcase-item{
                    /* border: 3px solid red;  */
                    height: fit-content; 
                    width: auto;
                }
                .showcase-image{ 
                    /* border: 3px solid red; */
                    /* display: grid; */
                    height: 100%;
                    width: auto;
                }
        }
        }
    
        .contentContainer{
                display: flex;
                flex-direction: column-reverse;
                margin-top: 0;
                margin-left: 1rem;
                align-items: end;
                height: 100%;
                .logo{

                    svg{
                        height: 100%;
                        width: auto;
                    }
                }
        }
    }
    }
}




